/* Global */
body, html{
	background-color: #fff;
	max-width: 790px;
	margin: 20px auto;
	font-family: helvetica;
}
input:focus{
	outline: none;
}
p a{
	color: #555;
}
/* Local */
header .row{
	display: inline;
	width: 100%;
}
.col-sm-2.logo{
	padding-left: 0;
}
.row p{
	position: absolute;
}
header p{
	margin-top: 10px;
	font-size: 14px;
}
.conatiner{
	-webkit-box-shadow: 0px 1px 5px 1px rgba(153,153,153,.4);
	-moz-box-shadow: 0px 1px 5px 1px rgba(153,153,153,.4);
	box-shadow: 0px 1px 5px 1px rgba(153,153,153,.4);
}
.body-padding{
	padding: 35px 35px 40px 40px;
}
.formz h2{
	margin-top: 0;
	margin-bottom: 40px;
	line-height: 45px;
}
.formz label{
	font-weight: normal;
	padding-bottom: 15px;
}
input[type=text], input[type=password]{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #bbb;
	padding-left: 8px;
  font-size: 18px;
	height: 35px;
	width: 95%;
	margin-bottom: 30px;
}
input[type=checkbox]{
	display: none;
}
.Remember{
	cursor: pointer;
	margin-bottom: 30px;
}
.fa-check-square{
	border: 1px solid #bbb;
	border-radius: 3px;
	font-weight: normal;
	width: 1em;
	color: #fff;
}
.Remember:hover .fa-check-square{
	background-color: #bbb;
}
input[type=checkbox]:checked + .fa-check-square{
	background-color: #2C4D9C;
}
.sign-up{
	color: #fff;
	background-color: #45cae6;
	border-radius: 3px;
	border: none;
	padding: 8px 18px;
	font-style: 24px;
	margin-bottom: 20px;
}
h6{
	color: #aaa;
}
h6 a{
	color: #45cae6;
}
.WYLI{
	background-color: #f5f5f5;
	padding: 20px 20px;
	max-width: 190px;
	border-left: 1px solid #ddd;
	color: #777;
}
.WYLI ul{
	padding-left: 15px;
}
.WYLI li{
	font-size: 12px;
	padding-bottom: 10px;
}
.WYLI a{
	text-decoration: underline;
	color: #666;
}
