body, html{
	background-color: white;
	max-width: 790px;
	margin: 30px auto;
}
p a{
	color: #555;
}
/* Global ^^^*/
header .row{
	display: inline;
	width: 100%
}
.col-sm-2.logo{
	padding-left: 0;
}
.row p{
	position: absolute;
}
header p{
	margin-top: 10px;
	font-size: 14px;
}
.container{
	border: 1px solid #333;
}