/* Global */
body, html{
	background-color: #fff;
	max-width: 790px;
	margin: 30px auto;
	font-family: helvetica;
}
p a{
	color: #555;
}
/* Local */
header .row{
	display: inline;
	width: 100%
}
.col-sm-2.logo{
	padding-left: 0;
}
.row p{
	position: absolute;
}
header p{
	margin-top: 10px;
	font-size: 14px;
}
.conatiner{
	-webkit-box-shadow: 0px 1px 5px 1px rgba(153,153,153,.4);
	-moz-box-shadow: 0px 1px 5px 1px rgba(153,153,153,.4);
	box-shadow: 0px 1px 5px 1px rgba(153,153,153,.4);
}
.formz{
	margin: 20px 0 30px 40px;
}
.formz h2{
	margin-bottom: 40px;
	line-height: 45px;
}
.formz label{
	font-weight: normal;
	padding-bottom: 15px;
}
input:focus{
	outline: none;
}
input[type=text], input[type=password]{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #ccc;
	padding-left: 8px;
  font-size: 18px;
	height: 35px;
	width: 95%;
	margin-bottom: 30px;
}
